@import '../../../Scss/variables.scss';

.features {
    .product-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: $clr-gray-1;
    }

    .price {
        margin-top: 24px;
        padding-bottom: 12px;
        font-weight: 500;
        font-size: 1.25rem;
        border-bottom: 1px solid $clr-gray-6;
    }

    .colors {
        padding: 24px 0;
        display: flex;
        align-items: center;
        gap: 24px;

        .title {
            font-weight: 400;
            font-size: 1rem;
            color: $clr-gray-2;
        }

        .options {
            display: flex;
            align-items: center;
            gap: 22px;

            .option {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #BAB2E9;
                cursor: pointer;
            }
        }
    }

    .storage {
        padding: 24px 0;
        display: flex;
        align-items: center;
        gap: 24px;
        border-bottom: 1px solid $clr-gray-6;

        .title {
            font-weight: 400;
            font-size: 1rem;
            color: $clr-gray-2;
        }

        .options {
            display: flex;
            align-items: center;
            gap: 16px;

            .option {
                cursor: pointer;
                padding: 8px 16px;
                background: $clr-gray-6;
                border-radius: 8px;
                font-weight: 400;
                font-size: .9rem;
                color: $clr-gray-2;

                &.active {
                    background-color: $clr-gray-2;
                    color: #fff;
                }
            }
        }
    }

    .quantity {
        padding: 24px 0;
        display: flex;
        align-items: center;
        gap: 32px;

        .title {
            font-weight: 400;
            font-size: 1rem;
            color: $clr-gray-2;
        }

        button {
            background-color: $clr-gray-6;
            border: none;
            border: none;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .current {
            font-weight: 400;
            font-size: 1.25rem;
            color: #1D2123;
        }
    }

    button.addBasket {
        border: none;
        background-color: $clr-default;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 16px;
        border-radius: 8px;
        padding: 16px 48px;
        cursor: pointer;
        margin-top: 32px;
    }
}