.searchResults {
    padding: 50px 0 50px 0;

    .row {
        display: flex;
        justify-content: center;
        .product-number {
            font-weight: 500;
            font-size: 1.1rem;
            color: #333333;
        }
    }

    .results {
        padding-top: 42px;
        display: flex;
        column-gap: 22px;
        row-gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }
}