@import "../../Scss/variables.scss";

.input,
.phone-input {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
    margin-top: 24px;

    label {
        font-weight: 400;
        font-size: .9rem;
        color: $clr-gray-2;
    }

    input {
        background-color: $clr-gray-6;
        padding: 14px 16px;
        border: none;
        border-radius: 8px;
        outline: none;
        font-weight: 400;
        font-size: 1rem;
        color: $clr-gray-2;
        margin-top: 8px;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            color: $clr-gray-3;
        }
    }

    .alert {
        color: #ec5757;
        font-weight: 500;
        white-space: nowrap;
        font-size: .75rem;
        align-self: flex-end;
        margin-top: 4px;
        display: none;
    }

    &.invalid {
        input {
            border: 1px solid #ec5757;
        }

        .alert {
            display: block;
        }
    }
}

@media(max-width:576px) {
    .input {
        margin-top: 12px;
    }
}