@import "../../../../Scss/variables.scss";

.partner-slider {
    padding: 0 75px;
    height: 220px;
    background-color: #F5F5F7;

    .slick-slider {
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
    }

    .slick-track {
        display: flex;
        gap: 16px;
        cursor: pointer;
    }

    .item {
        background-color: #fff;
        padding: 12px 24px;
        width: 176px !important;
        height: 80px;
        border-radius: .5rem;

    }

    .slick-dots {
        bottom: -40px;

        li.slick-active {
            button {
                &::before {
                    color: $clr-success-500  !important;
                }
            }
        }

        li {
            button {
                &::before {
                    font-size: 8px;
                }
            }
        }
    }
}

@media(max-width:576px) {
    .partner-slider {
        display: none;
    }
}