@import "../../../../Scss/variables.scss";

.banner-slider {
    .slick-slider {
        .slider-item {
            background-image: url('../../../../images/slider-background.png');
            background-position: 65% 35%;
            height: 550px;

            .item-content {
                margin: auto 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 75px;
                cursor: pointer;

                .slider-text {
                    max-width: 450px;

                    h4 {
                        font-weight: 600;
                        font-size: 3rem;
                        color: #000000;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: $clr-gray-2;
                    }
                }

                .slider-img {
                    width: 500px;
                    height: 480px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .slick-dots {
            bottom: 10px;

            li.slick-active {
                button {
                    &::before {
                        color: $clr-success-500  !important;
                    }
                }
            }

            li {
                button {
                    &::before {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .banner-slider {
        .slick-slider {

            .slider-item {
                height: auto;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;

                .item-content {
                    flex-direction: column-reverse;
                    gap: 40px;
                    padding: 32px 68px 48px 68px;

                    .slider-text {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        gap: 16px;

                        h4 {
                            font-size: 1.5rem;
                        }

                        p {}
                    }

                    .slider-img {
                        width: 230px;
                        height: 210px;

                        img {
                            object-fit: cover;
                            height: 100%;
                        }
                    }
                }
            }

            .slick-dots {
                display: none !important;

                li.slick-active {
                    button {
                        &::before {}
                    }
                }

                li {
                    button {
                        &::before {}
                    }
                }
            }
        }
    }
}