@import "../../../Scss/variables.scss";
.social-icons{
    display: flex;
    align-items: center;
    gap: 35px;
    img{
        cursor: pointer;
        transition: all .1s ease;
        &:hover{
            filter: opacity(1) drop-shadow(0 0 0 $clr-default);
            transform: scale(1.2);
        }
    }
}