@import "../../../Scss/variables.scss";

.profile-dashboard {
    background-color: #fff;
    padding: 32px 24px;
    max-width: 280px;
    border-radius: 8px;
    height: fit-content;
    min-width: 25%;

    .title {
        font-weight: 500;
        font-size: 1.3rem;
        color: #1D2123;
    }

    ul {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        li {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $clr-gray-1;
            cursor: pointer;
            transition: all .1s ease;

            svg {
                transition: all .1s ease;
                fill: $clr-gray-1;

                path {
                    transition: all .1s ease;
                    fill: $clr-gray-1;
                }
            }

            a {
                display: flex;
                align-items: center;
                gap: 20px;
                transition: all .1s ease;
                color: $clr-gray-1;
            }

            &:hover,
            &.active {
                color: $clr-default;

                svg {
                    fill: $clr-default;

                    path {
                        fill: $clr-default;
                    }
                }

                a {
                    color: $clr-default;
                }
            }
        }
    }
}