.mobileNavbar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    overflow-y: scroll;
    transition: all .3s ease;

    .header {
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        border-bottom: 1px solid rgba($color: #303030, $alpha: 0.16);
    }


    .navbar-content {
        padding: 16px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                a {
                    font-weight: 400;
                    font-size: 1.35rem;
                    color: #303030;
                }

                .openDropdown {
                    font-size: 1.2rem;
                    transition: all .3s ease;
                    &.opened{
                        transform: rotate(90deg);
                    }
                }
            }
            .dropdown{
                padding: 16px;
                width: 100%;
                ul{
                    gap: 15px;
                    li{
                        a{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }


    &.opened {
        left: 0;
    }
}