.userProfile {
    background-color: #f5f5f5;
    padding-top: 40px;
    min-height: 80vh;

    .container {
        .s-container {
            display: flex;
            gap: 32px;

            .loading-spinner {
                height: 350px;
            }
        }
    }
}

@media(max-width:576px) {
    .userProfile {
        padding-bottom: 40px;

        .s-container {
            flex-direction: column;
        }
    }
}