@import "../../../Scss/variables.scss";

.side-filter {
    max-width: 300px;
    width: 23%;

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid $clr-gray-4;

        .sortBy {
            font-weight: 500;
            font-size: 1rem;
            color: $clr-gray-2;
        }

        button.toggle {
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    .options-dropdown {
        padding: 32px 10px;

        ul.options {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li.option {
                display: flex;
                align-items: center;
                gap: 16px;

                input {
                    width: 22px;
                    height: 22px;
                    cursor: pointer;
                    outline: none;
                    border-radius: 3px;
                    border: none;
                    accent-color: $clr-default;
                    // background-image: url('data: image/png;base64,../../../images/checked.svg');

                    // &:checked {
                    //     // background-image: url('../../../images/checked.svg');
                    //     background-image: url('data: image/png;base64,../../../images/checked.svg');

                    //     &::after {
                    //         // background-image: url('../../../images/checked.svg');
                    //         background-image: url('data: image/png;base64,../../../images/checked.svg');
                    //     }
                    // }

                    &:before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 3px;
                        background: rgba(0, 214, 143, 0.16);
                        border: 1px solid $clr-default;
                    }


                }

                label {
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }
}