@import "../../Scss/variables.scss";

.direction {
    margin-bottom: 48px;
    ul {
        display: flex;
        gap: 10px;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            gap: 10px;
            a {
                font-weight: 400;
                font-size: 1rem;
                color: $clr-gray-2;
                cursor: pointer;
            }
        }
    }
}