@import '../../../Scss/variables.scss';

.cart-item {
    display: flex;
    background-color: #fff;
    padding: 16px;
    justify-content: space-between;
    gap: 32px;
    border-radius: 8px;

    .product-image {
        width: 50px;
        height: 72px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .product-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;

        .product-name {
            font-weight: 500;
            font-size: 1rem;
            color: $clr-gray-1;
            cursor: pointer;

            
        }

        .details {
            display: flex;
            gap: 32px;
            align-items: center;

            .color {
                display: flex;
                gap: 12px;

                span {
                    font-weight: 400;
                    font-size: .9rem;
                    color: $clr-gray-3;

                    &.value {
                        color: $clr-gray-1;
                    }
                }
            }

            span.price {
                font-weight: 400;
                font-size: 1rem;
                color: $clr-gray-3;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .quantity {
        padding: 24px 0;
        display: flex;
        align-items: center;
        gap: 32px;
        flex: 1;
        justify-content: center;

        button {
            background-color: $clr-gray-6;
            border: none;
            border: none;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .current {
            font-weight: 400;
            font-size: 1.25rem;
            color: #1D2123;
        }
    }

    button.delete {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}