@import '../../../Scss/variables.scss';

.cart-summary {
    width: 25%;
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;


    .title {
        font-weight: 500;
        font-size: 1.25rem;
        color: #1D2123;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 1rem;
            color: $clr-gray-1;
        }
    }

    .total {
        font-size: 1rem;
        color: #1D2123;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        border-top: 1px solid $clr-gray-3;
    }
}