@import "../../Scss/variables.scss";

.product-card {
    padding: 40px 48px 24px 48px;
    background: #FFFFFF;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -4px rgb(0 0 0 / 10%);
    width: 290px;
    height: 390px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: .25rem;
    cursor: pointer;

    .product-img {
        width: 190px;
        height: 210px;

        img {
            width: 100%;
            height: 100%;
                object-fit: contain;
        }
    }

    .product-name {
        font-weight: 400;
        font-size: 1rem;
        color: $clr-gray-1;
    }

    .product-price {
        font-weight: 400;
        font-size: 1rem;
        color: #333333;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media(max-width:576px) {
    .product-card {
        min-width: 190px;
        height: 285px;
        padding: 16px 16px 22px 16px;

        .product-img {
            width: 100px;
            height: 142px;
            margin: 0 auto;
        }

        .product-name {
            font-weight: 400;
            font-size: .9rem;
        }
    }
}