* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        color: #fff;
        background: #2DD06E;
    }
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}