$clr-default: #2DD06E;


// gray
$clr-gray-1: #333333;
$clr-gray-2: #4F4F4F;
$clr-gray-3: #828282;
$clr-gray-4: #BDBDBD;
$clr-gray-5: #E0E0E0;
$clr-gray-6: #F2F2F2;

//success
$clr-success-500: #00D68F;


$clr-footer-bg: #262626;