main.details {
    padding-top: 26px;

    .direction {
        margin-bottom: 28px;
    }

    .product-info {
        display: flex;
        gap: 50px;
    }
}

@media(max-width:576px) {
    .product-info {
        flex-direction: column;
        .product-slider{
            width: 100%;
            padding-bottom: 0;
        }
    }
}